%nav.navbar.navbar-expand.navbar-dark.bg-primary
  .container
    .navbar-brand Admin Panel | Chat
    .navbar-collapse
      %ul.navbar-nav
        %li
          = link_to 'Home', root_path, class: "nav-link"
        %li
          = link_to 'Users', admin_users_path, class: "nav-link"

    %ul.navbar-nav.login
      - if user_signed_in?
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li
          = link_to 'SignIn', new_user_session_path, class: "nav-link"

