!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsChatApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag
  %body
    = render 'layouts/admin/navbar'
    %div{:class => "container #{controller_name} #{action_name}"}
      - if flash.any?
        - flash.keys.each do |key|
          %div{:class => ("alert alert-#{key.to_s} alert-dismissible"), role: "alert"}
            %button.close{ 'aria-label' => "Close", 'data-dismiss' => "alert", type: "button"}
              %span{'aria-hidden' => "true"}  ×
            = flash[key]
    %br/
    .row
      .col-3
      .col-6
        = yield
      .col-3
