- url = @user.new_record? ? admin_users_path : admin_user_path
= simple_form_for(@user, url: url, input_html: { class: 'modal-form' }) do |f|
  .form-group
    .col-md-12
      = f.input :email, placeholder: 'user@domain.com', input_html: { class: "form-control" }, label: 'Email'
      %br
      = f.input :first_name, input_html: { class: 'form-control'}, label: 'First name'
      %br
      = f.input :second_name, input_html: { class: 'form-control'}, label: 'Second name'
      %br
      = f.input :password, input_html: { class: 'form-control'}, label: 'Password'
  .form-actions
    .col-md-12
      %br
      = f.button :submit, @user.new_record? ? 'Create' : 'Update', class: "btn btn-success pull-right"
      = link_to 'Back', admin_users_path, class: 'btn btn-danger'
