%h1 All Users
%br/

= link_to 'New user', new_admin_user_path, class: 'btn btn-success'

%p/

%table.table
  %thead
    %tr
      %th Email
      %th First name
      %th Second name
      %th
      %th
      %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.first_name
      %td= user.second_name
      %td= link_to 'Show', admin_user_path(user), class: 'btn btn-success'
      %td= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-info'
      %td= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
