.row
  .col-md-12
    %h3= 'Edit user'
  .col-md-10.col-md-offset-1
    %table.table
      %tr
        %td Email
        %td= @user.email
      %tr
        %td First name
        %td= @user.first_name
      %tr
        %td Second name
        %td= @user.second_name
